<!-- used to output the name -->

<!-- @if (isAddingTask) {
    <app-new-task/>
} -->

<section id="tasks">
    <header>
        <h2>{{ name }}'s Task</h2>
    <menu>
        <button (click)="onStartAddTask()">Add Task</button>
    </menu>
</header>
@if (isAddingTask) {
    <app-new-task (cancel)="onCancelAddTask()"/>
}

<ul>
    @for (task of selectedUserTask; track task.id) {
        <li>
            <app-user-task (completed)="onCompleteTask($event)" [taskDetails]="task"/>
        </li>
    }
    <!-- <li>
        <app-user-task></app-user-task>
    </li>
    <li>
        <app-user-task></app-user-task>
    </li> -->
</ul>
</section>
