<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>
  <!-- ngSubmit will occur when this submission happened and 
   browser default was prevented -->
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
       <!-- to update every key stroke value we use ngModel directive -->
       <!-- directives: to add extra functionalities to elements -->
       <!-- directives don't have templates -->
       <!-- ngModel is is meant to be used with import, textarea or other form elements -->
       <!-- '[(ngModel)]' support two way binding -->
       <!-- two way binding mens listen to data and out the data with same syntax 
        at the same time -->
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle  "/>
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea id="summary" rows="5" name="summary" [(ngModel)]="enteredSummary"></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <!-- inputs will lways yields string values, even its of type date it use string -->
      <input type="date" id="due-date" name="due-date" [(ngModel)]="enteredDate"/>
    </p>

    <p class="actions">
        <!-- if we add submit it triggers a form submission -->
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>